auto-save-list
eln-cache
custom.el
.org-id-locations
\#*
org-mode-config.el
*~
.#*
\#*\#
*.log
.DS_Store
org-clock-save.el
emacs-config.el
node_modules/
.recentz-data
*.eln
transient/
.DS_Store
.mc-lists.el
*.elc
**/.emacs.d/_tmp/
**/.emacs.d/elpa/
**/.emacs.d/tramp/
